# Supabase Configuration
VITE_SUPABASE_URL=https://nohcoeprvzrczkutzznk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5vaGNvZXBydnpyY3prdXR6em5rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk3MDE5MDgsImV4cCI6MjEwNTI3NzkwOH0.3GIAXdgaR9yWHpGqYYBYyimVsPHDUq7KgIJ4k8NxstA

# Optionnel (Mot de passe pour Netlify Edge Function si activé)
# SITE_PASSWORD=MUSICFIGHT2026
